<div class="grid-center-noGutter page_container">
  <img src="assets/images/auth.jpg" alt="" />
  <div class="overlay"></div>
  <div class="col-12_md-16_sm-22_xs-24">
    <div class="grid-center-noGutter form-container">
      <div class="col-24 grid-center-noGutter">
        <div class="col-24 grid-center-noGutter">
          <a class="logo">
            <img src="assets/images/logo.png" alt="" />
          </a>
        </div>
        <div class="grid-center-middle-noGutter">
          <label for="" style="font-weight: bold"
            >Import Flight Data:</label
          >
          <input
            style="margin: 20px"
            type="file"
            (change)="onFileChange($event)"
            accept=".xls,.xlsx,.csv"
          />
        </div>
      </div>
      <ng-container *ngIf="excelFile">
        <div class="grid-center-noGutter" style="margin: 30px 0">
          <button
            class="col-24 btn color1"
            style="cursor: pointer"
            mat-button
            (click)="openPopup()"
          >
            Start Analysis
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #popupTemplate>
  <!-- <h2 mat-dialog-title>Popup Title</h2> -->
  <mat-dialog-content>
    <div>
      <div style="margin: 20px">
        <label for="dropdown">X-Axis:</label>
        <span style="width: 30px; display: inline-block"></span>
        <select
          id="dropdown"
          [(ngModel)]="selectedXValue"
          (change)="onXaxisChange($event)"
        >
          <option *ngFor="let option of xOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>

      <div style="margin: 20px">
        <label for="dropdown">Y-Axis:</label>
        <span style="width: 30px; display: inline-block"></span>
        <select
          id="dropdown"
          [(ngModel)]="selectedYValue"
          (change)="onYaxisChange($event)"
        >
          <option *ngFor="let option of yOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>

      <ng-container *ngIf="selectedXValue !== '' && selectedYValue !== ''">
        <ngx-charts-line-chart
          [view]="view"
          [results]="lineChartData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
        >
        </ngx-charts-line-chart>
      </ng-container>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>

<router-outlet></router-outlet>
